<div id="<%= dom_id lib %>">
  <p>
    <strong>Name:</strong>
    <%= lib.name %>
  </p>

  <p>
    <strong>Opening time:</strong>
    <%= lib.opening_time %>
  </p>

  <p>
    <strong>Closing time:</strong>
    <%= lib.closing_time %>
  </p>

</div>
