<div class="jumbotron"><h3>Editing lib</h3>

<%= render "form", lib: @lib %>

<br>

<div>
  <%= link_to "Show this library", @lib, :class => "btn btn-secondary" %> 
  <%= link_to "Back to library", libs_path, :class => "btn btn-dark" %>
</div>
</div>